{% extends 'base.html.twig' %}

{% block title %} Nargui Five 93 - Mot de passe oublié {% endblock %}

{% block body %}
    <div class="block-small">
        {% for message in app.flashes("notice") %}
            <div class="alert alert-info"> {{ message }} </div>
        {% endfor %}

        <form method="post">
            <h1 class="h3 mb-3 font-weight-normal"> Réinitialiser un mot de passe </h1>

            <label for="inputEmail"> Votre email </label>
            <input type="email" name="email" id="inputEmail" placeholder="Votre email" class="form-control" autocomplete="email" required autofocus>

            <button class="btn btn-lg btn-info btn-block mt-3" type="submit">
                Réinitialiser mon mot de passe
            </button>
            <hr/>

            <p class="text-center mt-3">
                Ou souhaitez-vous créer<a  href="{{ path('app_login') }}"> Se connecter </a>
            </p>
        </form>
    </div>
{% endblock %}
