<footer class="footer-custom">

	<div class="flex-img">
		<div>
			<img src="{{ asset('assets/images/footer/chicha-4.jpg') }}" alt="nargui-five "/>
		</div>

		<div>
			<img src="{{ asset('assets/images/footer/chicha-3.jpg') }}" alt="nargui-five "/>
		</div>

		<div>
			<img src="{{ asset('assets/images/footer/chicha-5.jpg') }}" alt="nargui-five "/>
		</div>

		<div>
			<img src="{{ asset('assets/images/footer/hookah-8.jpg') }}" alt="nargui-five "/>
		</div>
	</div>

	<hr class="separation">

	<div class="flex-content">
		<div class="col-md-3">
			<h2>
				A PROPOS</h2>
			<p>
				Nous sommes une boutique spécialisée dans la vente d’accessoires pour fumeurs tel que narguilés, 
				                chichas, bongs, pipes à eau, feuilles, tabacs et bien plus encore.
				<br>
				<a href="">
					Mentions légales
				</a>
				–<a href="">
					Conditions générales
				</a>
			</p>
		</div>

		<div class="col-md-3">
			<h2>
				SERVICE CLIENT
			</h2>
			<p>
				Par téléphone : 03 66 72 45 46
				<br>
				Du lundi au samedi, de 10h à 18h30
				<br>
				Par mail : sav@narguifive.com
				<br>
				Réponse sous 24H
				<br>
				<strong>
					Adresse : 135 rue de Gabriel Péri - 93200 Saint Denis
				</strong>
				<br>
			</p>
		</div>

		<div class="col-md-3">
			<h2>
				ESPACE PERSONNEL
			</h2>
			<p>
				<a href="#">
					Mon compte
				</a>
				<br>
				<a href="#">
					Mes commandes
				</a>
				<br>
				<a href="#">
					Mes adresses
				</a>
				<br>
				<a href="#">
					Mon Panier
				</a>
				<br>
			</p>
		</div>

		<div class="col-md-3">
			<h2>
				NOUS SUIVRE
			</h2>
			<p>
				<a href="#">
					<i class="fab fa-facebook">f</i>
				</a>
				<a href="#">
					<i class="fab fa-instagram">d</i>
				</a>
				<a href="#">
					<i class="fab fa-youtube">f</i>
				</a>
				<a href="#">
					<i class="fab fa-twitter-square">f</i>
				</a>
			</p>
			<hr>

			<h2>
				S’ABONNER À LA NEWSLETTER
			</h2>
			<p>
				Rejoignez notre liste d'e-mail pour recevoir les dernières nouvelles et promotions.
			</p>
		</div>
	</div>
</footer>
