{% for label, messages in app.flashes(['success', 'danger', 'warning', 'info']) %}
	{% for message in messages %}
		<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
			<span>
				{% if label == 'success' %}
					<strong>Succès !</strong>
				{% elseif label == 'warning' %}
					<strong>Attention !</strong>
				{% elseif label == 'danger' %}
					<strong>Erreur !</strong>
				{% endif %}
				{{ message }}
			</span>
			<button type="button" class="btn-close ml-3" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}
{% endfor %}
