<div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">
        <h5 class="modal-title">Le produit "{{ product.nom }}" à bien été ajouté !</h5>
        <button type="button" class="btn-close close_modal" aria-label="Close"></button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
        <div class="description">
            <p>{{ product.content }}</p>
            <p>Prix: {{ product.price }} EUR</p>
        </div>
        <img src="{{ product.image }}" alt="product-imeage">
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary close_modal"> Fermer</button>
    </div>

</div>
