<div style="margin-top: 10% !important;" class="modal fade" id="myModalVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div  class="modal-dialog modal-dialog-centered" role="document">
		<div  class="modal-content">
			<!-- si tu veux mettre un titre pour le modal, decommente ceci en enlevant le display: none -->
			<div style="display: none;" class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Modal titre: mon super pop-up</h4>
			</div>

			<!-- end si tu veux mettre un titre pour le modal, decommente ceci -->
			<div class="modal-body">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/fudG3L-66L4?autoplay=1" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="modal-footer">
				<button id="close" type="button" class="btn btn-default" data-dismiss="modal">Ne plus afficher</button>
			</div>
		</div>
	</div>
</div>