body{
    position: relative;
    padding: 0px;
    background-color: #fff;
    overflow-x: hidden;
}

/********* Connexion *****/
.block-small{
    max-width: 600px;
    margin: 0 auto;
}
.clearfix {
    clear: both;
}
.fa-solid, .fas {
    margin-right: 5px;
    color: #000;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.pull-right {
    float: right !important;
}

ol, ul {
    list-style: none;
}
/********* caroussel *****/
.carousel-item .active{
    background-size: cover;
    background-position: center;
}

.block {
    margin-bottom: 50px;
}

/**** video ***/
video {
    width: 400px;
    height: auto
}

/************ Pagination *********/
.navigation{
    display: block;
    width: 100%;
    text-align: center;
}

.pagination{
    /* display: block !important; */
    padding: 15px 0px;
}

.pagination span.current{
    background-color: darkseagreen;
}

.pagination span.page,  span.current {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

div.footer{
    padding: 0px 180px;
}

.label{
    color: #000;
}
.label-success, .fa-circle-check{
    color: #5cb85c;
}

.label-error, .fa-circle-exclamation, .fa-xmark{
    color: red;
}

.dropdown-item:active {
    background-color: #fff;
    color: #000;
}

.carousel-inner, .carousel-item{
    height: 900px;
}
.carousel-item img{
    background-position: center;
    height: 100%;
}

#pagination_site{
    margin: 10px 0;
}

.etoile>img{
    height: 30px;
}

.custom-btn{
    min-width: 125px !important;
    margin-bottom: 4% !important;
    text-transform: uppercase !important;
}

p {
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 500;
}

.navbar{
    margin-bottom: 0px !important;
}

.navbar-nav > li > .dropdown-menu{
    margin-top: 5px;
    padding: 0px;
}

.lab_breadcrumb {
    background-color: #fff;
    margin: 0px;
}

.nav-link{
    color: #000;
}

.dropdown-item {
    line-height: 30px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: inherit;
    font-weight: normal;
    padding: 5px;
    line-height: 26px;
    text-decoration: none;
    vertical-align: baseline;
    text-align: left;
}

.pagination_knp nav {
    background-color: #fff !important;
    margin-bottom: 1%;
}

.page-item.active .page-link {
    color: #fff !important;
    background-color: #F1A212 !important;
    border-color: transparent !important;
}

.pagination > li > a, .pagination > li > span{
    color: #000 !important;
}

h1,h2{
    text-transform: uppercase;
}

.ea-vich-image-actions>div{
    display:none !important;
}

.separation{
    width: 100%;
    position: relative;
    top: 25px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/********** Menu *********/
.panier{
    background: #F1A212 none repeat scroll 0 0;
    border-radius: 100%;
    color: #000000;
    display: block !important;
    height: 18px;
    left: 12px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: -7px;
    width: 18px;
    font-family: Roboto,serif;
    font-size: 9px;
}

.btn-panier{
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 17px;
    text-transform: uppercase;
    padding: 0px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    padding-bottom: 4px;
    background-color: transparent;
}

/* Modal Content */
.modal-content {
    background-color: transparent;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    /* height: 800px; */

}

.blog-header-logo {
    background: #000;
    text-align: center;
    width: 100%;
    display: block;
    padding: 16px 0px;
}

.lien_logo{
    /* display: block;
    width: 100%; */
}
.lien_logo img{
    width: 147.15px;
    height: 150px;
}
.cart-icone{
    height: 25px;
    padding-left: 20px;
}
.new{
    background-color: blue;
    color: #fff;
}

.soldes{
    background-color: red;
    color: #fff;
}

#info{
    background-color: #000;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}

.icone_menu{
    /* margin: 0px 5px;
    border-right: 1px solid #fff; */
    padding-right: 20px;
}

.icone_menu:nth-child(1){
    border-right:none
}

.icon-top>a, .icon-top>div.dropdown>a.nav-link {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 25px;
    text-transform: uppercase;
    padding: 0px;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    padding-bottom: 4px;
}
nav, .navbar{
    background-color: #000 !important;
}
.icon-top>a:hover, .icon-top>div.dropdown>a.nav-link:hover, #user .btn:hover{
    color: #F1A212;
}
.navbar-dark .navbar-nav .nav-link{
    color: #fff;
    text-transform: uppercase;
}

.nav-link:focus, .nav-link:active{
    color: #fff;
}

.bi{
    /* padding-right: 10px;
    width: auto; */
}

.icon-top .dropdown-toggle::after{
    display: none;
}

.dropdown-menu.show {
    padding: 0px;
    text-align: center;
}

.labelTop{
    display: inline-block;
}


ul.navbar-nav{
    justify-content: space-around;
    width: 100%;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;   
}
nav.sticky{
    z-index: 999;
} 
.sticky + .content {
    padding-top: 400px;
}

/***** Breadcrumb *****/
.lab_breadcrumb {
    background-color: #EDEDED;
    margin-bottom: 30px;
    clear: both;
}

.breadcrumb {
    display: block;
    padding: 0 11px;
    padding: 15px 0;
    font-size: 13px;
    line-height: 24px;
    min-height: 6px;
    overflow: hidden;
    position: relative;
    color: #000;
    margin: 0;
    z-index: 1;
    list-style: none;
    border-radius: 0;
}

.breadcrumb .navigation-pipe{
    padding: 0px 3px;
    font-size: 15px;
}

.breadcrumb a{
    color: #000;
    text-decoration: none;
    font-style: italic;
    font-size: 15px;
    text-transform: uppercase;
}

.breadcrumb a:hover{
    color: #f0ad4e;
}

/**** Page categorie block gauche ***/

.title_block{
    color: #333;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 1;
    margin: 0 0 15px;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
}
#categories_block_left ul{
    padding-left: 0px;
}
#categories_block_left li {
    margin-bottom: 15px;
    position: relative;
}

#categories_block_left li a {
    border-bottom: 1px solid #d9d9d9;
    color: #000;
    display: block;
    font-family: Roboto,serif;
    font-size: 17px;

    line-height: 35px;
    padding: 0 15px 0 0;
    position: relative;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 600;
}
#categories_block_left li a:hover{
    color: #f0ad4e;
  
}

#enabled_filters {
    margin: 0 0 10px 0;
    background: #eee;
    padding: 5px;
}

#layered_block_left #enabled_filters, #layered_url_filter_block {
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 0;
    border-bottom: 1px dotted #CCC;
}

#layered_block_left .layered_subtitle {
    color: #525252;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 1;
    margin: 0;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
}

#layered_form div div ul {
    max-height: 200px;
    overflow-x: auto;
    clear: both;
    padding: 5px 0;
}

.layered_subtitle_heading {
    margin: 15px 0;
    border-bottom: 2px solid #ebebeb;
    padding-bottom: 10px;
}

#layered_block_left ul li {
    min-width: 50%;
    width: auto;
    list-style-type: none;
    padding: 2px 0;
    font-size: 17px;
}

#layered_block_left ul li label {
    cursor: pointer;
}

input:checked{
    cursor: pointer;
}

#layered_block_left .nomargin a {
    color: #868686;
    display: inline;
    font-family: Roboto,serif;
    font-style: italic;
    font-weight: 500;
    text-decoration: none;
    font-size: 17px;
}

#layered_block_left .nomargin a:hover, #layered_block_left ul li label:hover{
    color: #f0ad4e;
}

/** Contenu central **/
.content_scene_cat {
    margin-bottom: 30px;
}

.content_sortPagiBar .sortPagiBar label, .content_sortPagiBar .sortPagiBar select {
    float: left;
}
.content_sortPagiBar .sortPagiBar {
    margin-bottom: 5px;
    clear: both;
}

.content_sortPagiBar .sortPagiBar label {
    font-family: Roboto, sans-serif;
    font-style: italic;
    padding: 3px 6px 0 0;
}

.content_scene_cat p {
    color: #000;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 0;
    width: 60%;
    vertical-align: middle;
    padding: 15px;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.7);
}

.content_scene_cat .content_scene_cat_bg {
    padding: 15px;
    background-color: #464646 !important;
    background: url(https://www.royaume-smoke.com/themes/sucregraph_royaumesmoke/css/../img/theme/categories.jpg) right center no-repeat;
    background-size: cover;
}

.content_sortPagiBar .sortPagiBar #productsSortForm .selector {
    float: left;
}

.content_sortPagiBar .sortPagiBar #productsSortForm select {
    max-width: 192px;
    float: left;
}

.cat_desc h1{
    color: #fff;
}

/** Produit list*/
ul.product_list.grid>li .product-container{
    background: #FFF;
    padding: 0;
    position: relative;
}

.lablistproducts .left-block {
    border: 1px solid #F1A212;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    padding: 0;
}

.lablistproducts .right-block {
    position: relative;
    text-align: center;
}

ul.product_list .product-image-container {
    text-align: center;
}

.product-image-container .product_image {
    position: relative;
    margin-bottom: 0;
    width: 100%;
    display: block;
}

.lablistproducts .actions {
    left: 0;
    margin: 0 auto;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 45%;
    transition: all 300ms ease 0s;
    z-index: 10;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.lablistproducts .item:hover .actions {
    opacity: 1
}

.lablistproducts .actions ul {
    display: inline-block;
    margin: 0
}

.lablistproducts .actions li {
    float: left;
    margin: 0 5px
}

.lablistproducts .actions li a {
    border: 2px solid #ffffff;
    color: #ffffff;
    display: block;
    font-size: 18px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    text-shadow: 0 0 0;
    width: 43px
}

.lablistproducts .actions li a.active,
.lablistproducts .actions li a.checked,
.lablistproducts .actions li a:hover {
    background: #F1A212;
    border-color: #F1A212;
    border-radius: 3px
}

.lab-button-container li span,
.lablistproducts .actions li span {
    display: none
}

.lab-countdown .item .right-block .actions li a {
    color: #333333;
    display: block;
    font-size: 22px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-shadow: 0 0 0;
    width: 50px
}

.lab-countdown .item .right-block .actions li a:hover {
    color: #F1A212
}

.lab-countdown .item .right-block .actions li.lab-cart {
    margin-bottom: 15px
}

.lab-countdown .item .right-block .actions li.lab-cart a {
    background: #F1A212;
    line-height: 45px;
    border: none;
    color: #fff;
    font-weight: 500;
    padding: 0 20px;
    text-transform: uppercase;
    width: auto
}

.lab-countdown .item .right-block .actions li.lab-cart a:hover {
    background-color: #333333
}

.lab-countdown .item .right-block .actions li.lab-cart a span {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: inline;
    padding: 0;
    border: none;
    font-size: 14px;
    text-shadow: 0 0 0
}

.labcolumn .right-block .actions ul {
    margin: 0
}

.labcolumn .right-block .actions ul li {
    float: left
}

.labcolumn .right-block .actions ul li.lab-Wishlist {
    margin: 0 12px
}

.labcolumn .right-block .actions ul li a {
    border: 2px solid #464646;
    color: #464646;
    display: block;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 35px
}

.labcolumn .right-block .actions ul li a:hover,
.labcolumn .right-block .lab-cart a:hover {
    border-color: #F1A212;
    background: #F1A212;
    color: #ffffff;
    border-radius: 3px
}
.labcolumn .right-block .actions ul li.lab-Wishlist {
    margin: 0 1px
}

.lablistproducts .actions {
    bottom: 90px
}

.lablistproducts .actions li a:hover {
    color: #FFF
}

ul.product_list.list>li .product-image-container .actions .lab-compare,
ul.product_list.list>li .product-image-container .actions .lab-Wishlist,
ul.product_list.list>li .product-image-container .actions .lab-quick-view {
    display: none
}

ul.product_list.column>li .left-block .countdown,
ul.product_list.column>li .left-block .actions {
    display: none
}

.lablistproducts .item .product_image:before {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    z-index: 9;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.lablistproducts .item:hover .product_image:before {
    opacity: 1;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.lablistproducts .left-block img {
    width: 100%;
}

ul.product_list .product-image-container img {
    margin: 0 auto;
}


.lablistproducts .right-block {
    position: relative;
    text-align: center
}

.lablistproducts .right-block .content_price {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease
}

.lablistproducts .item:hover .right-block .content_price {
    opacity: 0;
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -o-transform: translateY(-30%);
    transform: translateY(-30%)
}

.lablistproducts .right-block .hook-reviews {
    text-align: center;
    opacity: 1;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease
}

.lablistproducts .item:hover .right-block .hook-reviews {
    opacity: 0;
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -o-transform: translateY(-30%);
    transform: translateY(-30%)
}

.lablistproducts .right-block .hook-reviews .star_content {
    display: inline-block
}

.lablistproducts .right-block .hook-reviews .nb-comments {
    display: none
}

.lablistproducts .right-block h5.product-name {
    margin: 0 0 5px 0
}

.lablistproducts.Lab-new-prod .product-name a {
    font-weight: bold
}
.lablistproducts .right-block .lab-cart .button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #666666;
    text-transform: uppercase
}

.lablistproducts .right-block .lab-cart .button i {
    font-size: 18px;
    margin: 0 10px 0 0
}

.lablistproducts .right-block .lab-cart .button span {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    text-decoration: underline;
    text-shadow: none;
    color: #F1A212
}
@font-face {
    font-family: 'MaterialDesignIcons';
    src: url("https://www.royaume-smoke.com/themes/sucregraph_royaumesmoke/css/../fonts/materialdesignicons-webfont.eot?v=1.2.64");
    src: url("https://www.royaume-smoke.com/themes/sucregraph_royaumesmoke/css/../fonts/materialdesignicons-webfont.eot?#iefix&v=1.2.64") format("embedded-opentype"), url("https://www.royaume-smoke.com/themes/sucregraph_royaumesmoke/css/../fonts/materialdesignicons-webfont.woff2?v=1.2.64") format("woff2"), url("https://www.royaume-smoke.com/themes/sucregraph_royaumesmoke/css/../fonts/materialdesignicons-webfont.woff?v=1.2.64") format("woff"), url("https://www.royaume-smoke.com/themes/sucregraph_royaumesmoke/css/../fonts/materialdesignicons-webfont.ttf?v=1.2.64") format("truetype"), url("https://www.royaume-smoke.com/themes/sucregraph_royaumesmoke/css/../fonts/materialdesignicons-webfont.svg?v=1.2.64#materialdesigniconsregular") format("svg");
    font-weight: normal;
    font-style: normal
}

.mdi {
    display: inline-block;
    font: normal normal normal 24px/1 MaterialDesignIcons;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
}

.mdi-heart-outline:before {
    content: "\f37b"
}
.mdi-eye:before {
    content: "\f2c4";
}

.mdi-cart:before {
    content: "\f1e6"
}

/** details du produit **/
ul.product_list .product-name, ul.product_list .content_price .price {
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

.product-name, .content_price .price {
    color: #4A4A4A;
    font-size: 14px;
    line-height: 23px;
    margin: 0 0 5px;
    text-align: center;
    font-weight: bold;
}

.content_price .price {
    font-size: 16px;
    font-weight: bold;
}

.product-name a{
    color: #4A4A4A;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    min-height: 42px;
    display: block;
}

.product-name a:hover {
    color: #F1A212
}

.btngreen{
    background: #2fc3a5;
}

.btn.round {
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
}

.btn{
    font-size: 15px;
    color: #fff;
    /* background: #000; */
    padding: 10px 40px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    text-shadow: none;
    transition: all 0.5s ease-in-out 0s;
} 

.produits{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body {
    text-align: center;
        padding: 0.5rem 1rem;
}

a.product_image{
    display: contents;
}

.card-body .btn{
    min-width: 250px;
}

.card{
    border: none;
    width: 320px;
    margin: 0px 2px;
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out 0s;
}

.card:hover{
    box-shadow: 0 0 35px rgb(0 0 0 / 30%);
}

.btn-info{
    color: #000;
    background-color: #CCC;
    transition: all 0.5s ease-in-out 0s;
}
.btn-primary{
    color: rgba(255,255,255,.75) ;
}

.btn-info:hover{
    color: #fff;
    background-color: #CCC;
}

.btn-primary:hover{
    color: #fff ;
    background-color: #000;
}

.content_price .price{
    display: inline-block;
}

.card-title>a{
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.35;
}

.btn-success:hover{
    color: #fff;
    background: #000;
}

.card-title {
    min-height: 50px;
}

/************** Body ************/
.marketing{
    margin-bottom: 45px ;
    color: #000;
}

/*********** Home **********/
.flex-services{
    display: flex;
}
.content-home{
    padding: 10px 0px;
    text-align: center;
}

.content-home h1:first-child{
    padding-top: 15px !important;
}

.content-home h1{
    line-height: 1em !important;
    text-transform: uppercase;
    font-size: 24px;
    color: #323232;
    font-weight: bold;
}

.content-home h2{
    font-size: 22px;
    color: #323232;
    font-weight: 600;
    font-family: 'Poppins';
    text-transform: uppercase;
}

.content-home p{
    line-height: 2em  !important ;
    text-align: justify ;
    font-size: 14px;
    line-height: 2em  !important ;
    color: #323232;
    margin: 0;
}

/**** Titre page home ***/
.title-block {
    text-align: center;
}

.text-center {
    padding: 0px 60px !important;
}

.title-block span.title-custom{
    color: #000;
    display: block;
    font-family: "Roboto",sans-serif;
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: 100;
    line-height: 72px;
    margin: 0px;
    position: relative;
    text-transform: uppercase;
    padding: 0px;
}

.title-block span.title-custom::before{
    border-top: 1px solid #DCDCDC ;
    width: 330px ;
    margin: auto 0 ;
    height: 1px ;
    position: absolute ;
    bottom: 0 ;
    left: 0 ;
    top: 0 ;
    content: "" ;
}

.title-block span.title-custom::after{
    border-top: 1px solid #DCDCDC ;
    width: 330px ;
    margin: auto 0 ;
    height: 1px ;
    position: absolute ;
    bottom: 0 ;
    right: 0 ;
    top: 0 ;
    content: "" ;
}
.subtitle{
    width: 100%;
    font-style: italic;
    text-align: center;
    display: inline-block;
    margin: 10px 0px;
    color: #919191;
    font-size: 20px;
}

.btn-filtre{
    border-bottom: 1px solid gray;
}
.btn-filtre button{
    margin: 10px 0;
    padding: 15px;
    color: #000;
    font-style: italic;
}

.btn-filtre button:hover{
    background: #000;
    color: #fff;
}

/** Block chicha **/
.column {
	margin: 15px 15px 0;
	padding: 0;
}
.column:last-child {
	padding-bottom: 20px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	margin: 0 0 0 25px;
	padding: 0;
}

.hover01 figure {
	width: 250px;
	height: 250px;
	margin: 0;
	padding: 0;
	background: #000;
	overflow: hidden;
}

.bloc-chicha{
    background-color: #F6F6F6;
    width: 100%;
}

.bloc-chicha div.title-block{
    margin: 0 auto;
}

h2.title-custom{
    color: #000;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 53px;
    margin: 0;
    position: relative;
}

h2.title-custom::before{
    border-top: 1px solid #DCDCDC ;
    width: 330px ;
    margin: auto 0 ;
    height: 1px ;
    position: absolute ;
    bottom: 0 ;
    left: 0 ;
    top: 0 ;
    content: "" ;
}

h2.title-custom::after{
    border-top: 1px solid #DCDCDC ;
    width: 330px ;
    margin: auto 0 ;
    height: 1px ;
    position: absolute ;
    bottom: 0 ;
    right: 0 ;
    top: 0 ;
    content: "" ;
}

.hover01{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Zoom In #1 */
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    width: 100%;
    /* padding-left: 8%; */
}
.hover01 figure:hover img, .chicha-home:hover img{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
    height: auto;
}

div.description-block{
    background-color: rgba(255,255,255,0.5);
    color: #000;
    z-index: 0;
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-left: 0px;
    padding: 10px;
}

.description-block>h3{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 0;
    font-size: 1.3rem;
    font-style: italic;
    color: #000;
}
.description-block .subtitle{
    z-index: 10;
    text-align: left;
    margin: 0;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    display: inline;
}

.description-block a{
    background: #FDB819;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: 7px 0px;
    color: #000;
}
p a.btn-info {
    color: #fff;
    background-color: #5192f3 !important;
    border-color: #3983f1;
}

p a.btn-info:hover{
    color: #000;
    background: #fff;
}

.description-block a:hover{
    color: #fff;
    background: #000;
}

.sep{
    display: block;
    width: 92%;
    margin: 10px 0px;
    border: 0px solid;
}

/** Block nos valeurs **/
.block-valeur{
    padding: 0 !important;
    margin: 0 !important;
}
.dav{
    padding: 0;
    margin: 0;
}

.block-valeur img{
    width: 90px;
}

.block-valeur h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
}

.block-valeur span{
    font-size: 15px;
    font-weight: 500;
}

/** Block nos partenaires **/
.block-partenaires{
    width: 190px;
    display: block;
}
.block-partenaires figure, .block-partenaires figure a{
    display: block;
}
.block-partenaires figure img{
    display: block;
    width: 100%;
}

/********** Footer *********/
.footer-custom{
    background-color: #000;
    color: #fff;
}

.footer-custom a{
    text-decoration: none;
    color: #fff;
}

.flex-clear{
    clear: both;
}

.flex-img{
    display: flex;
    flex-wrap: nowrap;
    height: 270px;
    clear: both;
}

.flex-img div {
    width: 420px;
    clear: both;
}

.block-footer div img{
    width: 100%;
    display: block;
}

.flex-content{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 30px;
}

.block-footer .col-md-3{
    border-right: 1px solid;
    text-align: left;
}

.block-footer{
    text-align: left;
}

.block-footer h3{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    font-style: italic;
}

.block-footer p{
    font-style: italic;
    font-size: 12px;
    text-align: left;
}

.footer .block-valeur figure{
    background: none;
    width: 250px;
    overflow: hidden;
}

.footer .block-valeur figure img{
    width: 100%;
    display: block;
}

.lien-rs{
    width: 35px;
    margin-right: 15px;
    height: 35px;
}

.block-footer span{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
.sf-toolbar-clearer {
    display: none !important;
}

/********** Page Produits *********/
.col-md-3{
    margin-bottom: 2%;
}

.title-custom h1::before{
    border-top: 1px solid #DCDCDC;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    margin: auto 0;
    position: absolute;
    top: 0;
    width: 400px;
}

.product-item h5{
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 2px;
}

.product-item span{
    font-size: 14px;
    display: block;
}

.product-item .product-price{
    font-size: 15px;
    font-weight: bold;
    margin-top: 2px;
}

.product-item{
    padding: 5%;
    margin-top: 2%;
    border: 1px solid  transparent;
}

.product-item:hover{
    background-color: rgba(255,255,255, 0.8);
    box-sizing: border-box;
    border: 1px solid grey;
}

.pb-left-column #image-block img{
    width: 50% !important;
}

.btn-outline-primary:hover{
    color: #fff !important;
}

.nbr-product{
    color: green;
}

.link-img:hover{
    cursor: pointer;
}

.product-container{
    margin-bottom: 0px;
    
}

.signe-plus{
    height: 12px;
    margin-right: 5px;
}
.signe-moins{
    height: 12px;
    margin-left: 5px;
}

/********** fiche Produit *********/
.img-produit{
    margin-top: 10px;
}

.lien-mignature{
    background-color: rgba(0,0,255,0.1);
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.lien-mignature:hover{
    cursor: pointer;
}

.lien-mignature img{
    width: 100%;
    height: 100%;
    opacity: .97;
}

.product-page-price{
    font-size: 19px;
}

/********** Page commande *********/
.form-check{
    background-color: #FAF8A6;
    padding: 20px;
    margin-top: 7px;
    padding-left: 30px;
}

.col-form-label{
    font-weight: bold;
}
img{
    vertical-align: middle;
}

img.img-thumbnail-admin{
    width: 33% !important;
}

.order-summary{
    padding: 20px;
    margin-top: 45px;
    background-color: #FAF8A6;
}

/********* Page mon compte *****/

.compte-lien{
    border-right: 1px solid;
}
.mon-compte{
    background-color: #F6F6F6;
    padding: 45px 0px;
    padding-top: 2%;
}

.mon-compte .container{
    background-color: #fff;
    padding: 35px;
}
.mon-compte .container h1{
    border-bottom: 1px solid;
    margin-bottom: 15px;
}

.compte-lien a:hover{
    text-decoration: underline;
    color: #F1A212;
}
.account-item{
    background-color: #a4b0be;
    padding: 70px;
}

.account-item a{
    color: #2f3542;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
}

.account-item a:hover{
    color: #f1f2f6;
}

.account-item .img-account
{
    width: 32px;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.compte-lien a{
    color: #000;
    padding: 0px 0px 0px 0px;
    display: block;
    font-weight: 600;
    text-transform: uppercase;
}

.lien-icone-compte::before{
    padding-right: 10px;
}

.lien_compte{
    color: #F1A212 !important;
}

/**** Mes adresses **/
span.adresse{
    font-weight: bold;
    font-size: 15px;
}

.adresse .card{
    margin: 0px 15px;
}

.adresse .card:hover{
    background-color: #a4b0be;
}

.bg-primary{
    color: #fff;
}

.compte-lien a:active{
    color: blue !important;
}


@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
